*.pidb
*.swp
*.DS_Store
*.nib
Resource.designer.cs

packages
Components
*.mo

#Autosave files
*~

# Build/test output
obj
bin
test-results

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*
*.csproj.bak
.vs
*.Android/app.config
*.UITests/app.config

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

*.orig
Kulgen.iOS/Kulgen.iOS.csproj.bak
Kulgen.Android/Kulgen.Android.csproj.bak
Kulgen.Android/sign/debug.keystore
Kulgen.Android/sign/release.keystore
*.apk

.idea
